@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

:root {
  --primary-color: rgba(0, 0, 0, 0.952);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.952);
  font-family: "Cinzel", serif;
  line-height: 1.4;
}

.box {
  display: flex;
}

.box .inner {
  width: 400px;
  height: 200px;
  line-height: 200px;
  font-size: 4em;
  font-family: sans-serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.box .inner:first-child {
  background-color: rgba(211, 40, 211, 0.664);
  color: rgba(204, 24, 24, 0.959);
  transform-origin: right;
  transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
  background-color: rgb(189, 15, 73);
  color: antiquewhite;
  transform-origin: left;
  transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
  position: absolute;
  animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
  animation-delay: 2.5s;
  left: -100%;
}

@keyframes marquee {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100px;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0, 4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  background: black;
  color: red;
  padding: 1rem;
  border-radius: 50%;
}

.social {
  width: 5rem;
}

.fab {
  padding: 10px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
  opacity: 0.7;
}

a:hover.fab {
  opacity: 0.9;
  background: black;
  color: blue;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  font-size: 30px;
}

.fa-twitter {
  background: #55acee;
  color: white;
  font-size: 30px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  font-size: 30px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  font-size: 30px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  font-size: 30px;
}

.fa-instagram {
  color: white;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  font-size: 30px;
}

img {
  object-fit: cover;
  width: 100%;
}

.proxCinema {
  border: 1px solid black;
  display: flex;
}

.alCinema {
  flex-basis: 15rem;
  margin: 0.5rem;
}

.nowCinema {
  border: 1px solid black;
  display: flex;
}

.series {
  border: 1px solid black;
  display: flex;
}

.netflix {
  flex-basis: 50rem;
  margin: 0.4rem;
}

@media (min-width: 200px) {
  .box .inner {
    width: 400px;
    height: 100px;
    line-height: 100px;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .social {
    margin-top: 1rem;
    margin-left: 0.5rem;
  }

  .fab {
    padding: 7px;
    text-decoration: none;
    font-size: 1rem;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  .alCinema {
    flex-basis: 30rem;
    margin: 0.5rem;
  }
  .cartoons {
    display: none;
  }
}

@media (min-width: 500px) {
  .box .inner {
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 4em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }
  section {
    display: flex;
    flex-wrap: wrap;
  }
  */ .alCinema {
    flex-basis: 50rem;
    margin: 0.5rem;
  }
}
@media (min-width: 634px) {
  li {
    margin-right: 4rem;
  }
  .alCinema {
    flex-basis: 60rem;
    margin: 0.5rem;
  }
  section {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 960px) {
  main {
    margin-left: 40px;
  }
  .alCinema {
    flex-basis: 20rem;
    margin: 0.5rem;
  }
  .netflix {
    flex-basis: 27rem;
    margin: 0.5rem;
  }
}

@media (min-width: 1026px) {
  .alCinema {
    flex-basis: 21rem;
    margin: 0.5rem;
  }
}

@media (min-width: 1100px) {
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
  }
  .social {
    margin-top: 1rem;
    margin-left: 1.4rem;
  }

  main {
    margin-left: 35px;
  }
  .alCinema {
    flex-basis: 21rem;
    margin: 0.5rem;
  }
  .netflix {
    flex-basis: 20rem;
    margin: 0.5rem;
  }
}
@media (min-width: 1300px) {
  main {
    margin-left: 40px;
  }
  .alCinema {
    flex-basis: 12rem;
    margin: 0.5rem;
  }
}

@media (min-width: 1800px) {
  .social {
    margin-top: 1rem;
  }
  main {
    margin-left: 20px;
  }
  .alCinema {
    flex-basis: 18rem;
    margin: 0.5rem;
  }
  .netflix {
    flex-basis: 22rem;
    margin: 0.5rem;
  }
}
